.container {
	width: 100%;
	height: 60px;
	border-radius: 5px;
	background: #f3f3f3;
	margin-bottom: 20px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	opacity: 0.5;
	cursor: pointer;
}

.container:hover {
	opacity: 1;
}

.container h2 {
	margin: 0;
	font-size: 30px;
}

.title span {
	font-size: 14px;
	font-weight: 300;
}

.container section {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.container section span {
	font-size: 12px;
	font-weight: 500;
}