.container {
	width: 400px;
	height: 200px;
	border-radius: 5px;
	background: #f3f3f3;
	margin-bottom: 20px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	color: #9a9898;
}

.container h2 {
	margin: 0;
	font-size: 30px;
}

.title span {
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
}

.container footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.container footer span {
	font-size: 12px;
	font-weight: 500;
}